@import 'tailwindcss';

@utility gradient-cream-to-t {
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    pointer-events: none;
    z-index: -1;
    width: 100%;
    height: 100%;
    max-height: 700px;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #fffdfb 0%, #fdf8f3 50%, #f8efe4 100%);
  }
}
@utility gradient-cream-to-b {
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    pointer-events: none;
    z-index: -1;
    width: 100%;
    height: 100%;
    max-height: 700px;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #f8efe4 0%, #fdf8f3 50%, #fffdfb 100%);
  }
}

@utility card-shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

@layer utilities {
  .shimmer-text {
    background: linear-gradient(
      90deg,
      #c0935f 0%,
      #e3b54e 25%,
      #f4e3b8 50%,
      #e3b54e 75%,
      #c0935f 100%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #fdf8f3;
}
::-webkit-scrollbar-thumb {
  background: var(--color-gold-500);
  border-radius: 10px;
  border: 2px solid #fdf8f3;
}
::-webkit-scrollbar-thumb:hover {
  background: #d4ad82;
}

@theme {
  /* Colors */
  --color-cream-50: #fffdfb;
  --color-cream-100: #fdf8f3;
  --color-cream-200: #f8efe4;

  --color-gold-200: #f4e3b8;
  --color-gold-400: #e3b54e;
  --color-gold-500: #d49a2e;
  --color-gold-600: #b87a23;

  --color-charcoal-400: #7c7772;
  --color-charcoal-600: #45413c;
  --color-charcoal-800: #26231f;
  --color-charcoal-900: #1a1815;

  /* Fonts */
  --font-primary: 'Raleway', Arial, sans-serif;
  --font-secondary: 'Playfair Display', Georgia, serif;

  --breakpoint-*: initial;

  --animate-background-shimmer: shimmer 15s linear infinite alternate;
}

@keyframes shimmer {
  from {
    background-position: 200% 0;
  }

  to {
    background-position: -200% 0;
  }
}

@custom-variant 2xl (@media (max-width: 1440px));
@custom-variant xl (@media (max-width: 1248px));
@custom-variant lg (@media (max-width: 1024px));
@custom-variant md (@media (max-width: 768px));
@custom-variant sm (@media (max-width: 550px));
@custom-variant xs (@media (max-width: 425px));

/* [data-block-reveal],
[data-text-reveal] {
  opacity: 0;
} */

.swiper-button-lock {
  opacity: 0.5;
  pointer-events: none;
}
